<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/images/site-logo.svg">
  </head>

  <body class="min-h-screen bg-black text-white/95">
    <header class="bg-white/95 text-black">
      {{ comp.site_nav({ item: nav.menu(), url: url }) }}
    </header>
    <main class="h-full">
      {{ content }}
    </main>
    <footer class="bg-[#191c21]">
      {{ comp.site_footer() }}
      <div class="text-center py-8 bg-black/90 rounded-t-md">
        © 2025 Mahol Arts & Events
      </div>
    </footer>
  </body>
</html>
