@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-title: "Oswald", sans-serif;
  --color-white: #fdfdfd;
  --color-black: #090909;
  --animate-marquee: marquee 100s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
